<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/styles.css">
		<title>Bennington College Unofficial</title>
	</head>
	<body>
		<h1>Bennington College Unofficial Website</h1>
		<b><u>Useful Information/Links</b></u> (that pass the <a href="http://xkcd.com/773/">XKCD test</a>)
		<ul style="list-style-type:none">
			<li>Full Name of School: Bennington College</li>
			<li>Campus Address: 1 College Drive, Bennington, VT 05201</li>
			<li><a href="http://www.bennington.edu/academics/academic-calendar">Academic Calendar</a></li>
			<li>Application Forms: <a href="http://www.bennington.edu/admissions-aid/apply/dimensional-application/application-guidelines">Dimensional Application</a> or <a href="http://www.bennington.edu/admissions-aid/apply/common-application">Common Application</a></li>
			<li>Campus Safety Phone Number: 802-440-5401 </li>
			<li><a href="http://www.bennington.edu/academics/areas-of-study">Areas of Study List</a></li>
			<li><a href="<%= curriculum_link %>">Course Lists</a></li>
			<li><a href="/map.pdf">Usable Campus Map (incl. Parking Information)</a></li>
			<li>Faculty Phone Numbers and Emails: <a href="http://www.bennington.edu/academics/faculty">list</a> or <a href="https://webinfo.bennington.edu/CampusDirectory/CampusDirectory.cfm">directory (This is known to be occasionally incorrect)</a></li>
		</ul>
		<b><u>Useful Student Links</b></u>
		<p>Academic life links</p>
		<ul style="list-style-type:none">
			<li><a href="http://bennington.populiweb.com/">Populi</a></li>
			<li><a href="http://moodle.bennington.edu/">Moodle</a></li>
			<li><a href="http://www.bennington.edu/sites/default/files/sources/docs/Change%20of%20Advisor%20Form.docx">Change of Advisor Form</a></li>
			<li><a href="http://www.bennington.edu/sites/default/files/sources/docs/F2016%20Add%20Form.doc">Add Form</a>/<a href="http://www.bennington.edu/sites/default/files/sources/docs/F2016%20Drop%20Form.doc">Drop Form</a>/<a href="http://www.bennington.edu/sites/default/files/sources/docs/F2016%20Withdrawal%20Form.doc">Withdrawl Form</a></li>
			<li><a href="http://www.bennington.edu/sites/default/files/sources/docs/Credit%20Waiver%20.docx">Credit Waiver Form</a></li>
			<li><a href="https://webinfo.bennington.edu/StudentNew/CourseEnrollment.cfm">Bennington College Course Enrollment</a></li>
		</ul>
		<p>Campus life links</p>
		<ul style="list-style-type:none">
			<li><a href="http://www.bennington.edu/students/end-of-term-announcements">End-of-Term Announcements</a></li>
			<li><a href="https://bennington.campuscardcenter.com/ch/quick_revalue.html">Add money to your Bennington card</a></li>
		</ul>
		<b><u>Useful Faculty Links</b></u>

			<ul style="list-style-type:none">
				<li><a href="http://bennington.populiweb.com/">Populi</a></li>
				<li><a href="http://moodle.bennington.edu/">Moodle</a></li>
				<li><a href="https://docs.google.com/a/bennington.edu/forms/d/e/1FAIpQLSccIWfB6vJqu-JYlYp5TqGZ0EvNAsdNSh29Hm8hAxX022skvg/viewform">Concern Form</a></li>
				<li><a href="/wordpress.pdf">Entering a course on Wordpress</a></li>
			</ul>
	</body>
	<footer>Shameless fork of <a href="http://bennington.works">bennington.works</a>
</html>
