<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Bennington College Unofficial</title>
	</head>
	<body>
		<h1>Bennington College Unofficial Website</h1>
		<br>
		<ul style="list-style-type:none">
			<li>Full Name of School: Bennington College</li>
			<li>Campus Address: 1 College Drive, Bennington, VT 05201</li>
			<li><a href="http://www.bennington.edu/academics/academic-calendar">Academic Calendar</a></li>
			<li>Application Forms: <a href="http://www.bennington.edu/admissions-aid/apply/dimensional-application/application-guidelines">Dimensional Application</a> or <a href="http://www.bennington.edu/admissions-aid/apply/common-application">Common Application</a></li>
			<li>Campus Safety Phone Number: 802-440-5401 </li>
			<li><a href="http://www.bennington.edu/academics/areas-of-study">Areas of Study List</a></li>
			<li><a href="<%= curriculum_link %>">Course Lists</a></li>
		</ul>
	</body>
</html>
